.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.topnav a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
    background-color: #4CAF50;
}

.topnav .form-link:hover {
    font-size: large;
}

.topnav .search-container {
    float: right;
}
  
.topnav input[type=search] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container input[type=submit] {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .search-container input[type=submit]:hover {
    background: #ccc;
}

.user-profile {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.user-profile p {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.user-profile a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;;
}

.user-profile a:hover {
    color: white;
    background-color: #4CAF50;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-image {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}