<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/new_article.css">
    <title>New article</title>
</head>
<body>
    <form action="/articles/new" method="post">
        <label>Name</label>
        <input name="name"/>
        </br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>