<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>posts</title>
</head>
<body>
    <div class="header">
        <div class="user-profile">
            <h1>Posts</h1>
        </div>
        <div class="topnav">
            <a href="/posts/new">Add post</a>
            <a href="/articles">Articles</a>
            <a style="color: blue;" href="/register">Sign up</a>
            <a style="color: blue;" href="/login">Sign in</a>
            <div class="search-container">
                <form action="/posts/search" method="POST">
                    <input type="search" name="keyword" placeholder="Search...">
                    <input type="submit" value="Search">
                
                </form>
            </div>
        </div> 
    </div>

    <!-- TODO ADD POSTS -->

</body>
</html>