<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/all_posts.css">
    <title>Results</title>
</head>
<body>

    <div class="topnav">
        <a href="/">Home</a>
        <a style="color: blue;" href="/user_info">{{ username }}</a>
    </div> 

    <div class="posts">
        {% for post in posts %}
            {% for key in images.keys() %}
                {% if key == post.file_path %}
                <div class="post-image" style="width: 20%;">
                    <a href="/posts/{{ post.id }}">
                        <img src="/{{ key }}{{ images.get(key)[0] }}" style="width: 100%;">
                    </a>
                    {% endif %}
                    {% endfor %}
                    <p><b>Name:</b> {{ post.name }}</p>
                </div>
            {% endfor %}
    </div>
</body>
</html>
